*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.font{
    font-family: "Inconsolata";
}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-image: url("background-desktop.png");
    background-size: cover;
    position: relative;
}

.line{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("pattern-lines.svg");
}
.text-box{
    max-width: 500px;
    width: 80%;
    z-index: 5;
    flex-direction: column;
}
.logo{
    width: 200px;
}
.title{
    padding: 20px 0px 10px 0px;
    color: white;
    max-width: 400px;
    text-align: center;
    font-weight: 500;
    font-size: clamp(1rem,2vw,2rem);
}
.sub-title{
    color: hsl(252, 6%, 83%);
    font-size: 12px;

}
.file-area{
    width: 80%;
    width:350px;
    margin-top: 10px;
    padding: 30px 0px;
    flex-direction: column;
    border: 2px dotted white;
    border-radius: 10px;
    background-color: rgba(135, 132, 132, 0.284);

}
.form-fields{
    padding: 20px 0px;
}
.form-fields span{
    color: hsl(252, 6%, 83%);
    font-size: 12px;
}
.file-area img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: hsla(252, 6%, 83%, 0.273);
}
.file-area p{
    color: white;
    margin-top: 10px;
    font-size: 12px;
}
.infop{
    padding-top: 15px;
    display: flex;
    gap: 2px;
    justify-content: flex-start;
    align-items: flex-start;
}
.infop span{
    font-size: 9px !important;
    word-spacing: 2px;

}
.infop img{
        width: 10px;
        height: 10px;
}
.name{
    font-family: "Inconsolata";
    width: 80%;
    width:350px;
    background-color: rgba(135, 132, 132, 0.284);
    border: 2px solid hsl(252, 6%, 83%);
    border-radius: 10px;
    padding: 10px 5px;
    color: white;
    text-align: left;
}
.btn{
      width: 80%;
    width:350px;
    margin-top: 10px;
    padding: 10px 0px;
    font-weight: 700;
    border: none;
    color: hsl(248, 70%, 10%);
    border-radius: 10px;
    background-color: hsl(7, 88%, 67%);
}
#afterbox{
    max-width: 550px;
    width: 90%;
    margin-top: 30px;
    height: 350px;
    display: none;


}
.image{
    position: relative;

}
.ticketlogo{
    max-width: 150px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.date{
    position: absolute;
    top: 55px;
    left: 70px;
    font-size: 14px;
    font-weight: 600;
    color: hsla(252, 6%, 83%, 0.657);
}


.after-box{
    width: 100%;
    height: 100%;
}
#code{
    font-size: 25px;
     position: absolute;
    top: 75px;
    right: 10px;
    font-weight: 500;
    color: white;
    transform: rotate(90deg);
}
.ticket-info{
    position: absolute;
    left: 30px;
    gap: 10px;
    align-items: center;
    display: flex;
    bottom: 60px;
}
#username{
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;

}
.ticket-info img{
    width: 50px;
}
.github{
    display: flex;
     padding-top: 4px;
    align-items: center;
}
.github img{
    width: 12px;
    height: 12px;
}
#github{
   
    font-size: 13px;
    font-weight: 550;
    color: hsla(252, 5%, 62%, 0.932);
}




@media only screen and (max-width:520px) {
    .main{
         min-height: 100dvh;
    }
    .text-box{
        width: 100%;
    }
    .file-area,.name,.btn{
        width: 340px;
    }
    .btn{
        margin-top: 20px;
    }
    #code{
        top: 80px;
        right: 0px;
    }
    .ticket-info{
        bottom: 30px;
    }
}
